template_blog/.idea
template_blog/./node_modules/*
template_blog/node_modules/*/*
template_blog/.DS_Store
template_blog/Thumbs.db
template_blog/*.log
template_blog/public/
template_blog/.deploy*/
template_blog/.vscode/
template_blog/source/_posts

venv
.idea
* text=auto
*/__pycache__
log
Config/*.json
!../file_proxy/Config/example.json
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.pyc
*.pyc
*.pyc
.DS_Store
__pycache__
