<link rel="stylesheet" href="<%- theme.libs.css.gitalk %>">
<link rel="stylesheet" href="/css/my-gitalk.css">

<div class="card gitalk-card" data-aos="fade-up">
    <div id="gitalk-container" class="card-content"></div>
</div>
<script src="https://cdn.bootcss.com/blueimp-md5/2.13.0/js/md5.min.js"></script>
<script src="<%- theme.libs.js.gitalk %>"></script>
<script>
  let gitalk = new Gitalk({
    clientID: 'a213377a193e22efc2ba',
    // clientSecret: 'f8da69d9dc121f2505267ea35f0ecd30a88b4513',
    repo: 'blog-comments',
    owner: 'kengerlwl',
    admin: ['kengerlwl'],
    id: md5(window.location.pathname), // 使用当前文章的 URL 作为唯一标识符，由于要小于50字符，使用加密后的 md5 值
    distractionFreeMode: false, // 关闭无干扰模式
    proxy: 'http://43.143.21.219:8000/api/tools/get_access_token'
  });

    gitalk.render('gitalk-container');
</script>